@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=League+Gothic&display=swap');

/* Heading Fonts */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;600;700&family=League+Gothic&display=swap');

/* font-family: 'Abril Fatface', cursive;
font-family: 'Inter', sans-serif;
font-family: 'League Gothic', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;600;700&family=League+Gothic&family=Saira+Condensed:wght@100;400;500&display=swap');

:root {
    --fonts: 'League Gothic', sans-serif;
}


body {
    overflow-x: hidden;
}

nav {
    background: #e0e0e0;
    width: 100%;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
font-family: var(--fonts)
}
.navbar-brand span {
    font-size: 2rem;
}
.navbar-brand img {
    height: 50px;
}
.nav-item {
    padding: .3rem 1.5rem;
    margin: 0 10px;
    border-radius: 50px;

    transition: all 500ms ease-in-out;
    border-radius: 24px;
background: #e0e0e0;
box-shadow:  5px 5px 10px #b3b3b3,
             -5px -5px 10px #ffffff;
}

.nav-item:hover, .nav-item:active {
    box-shadow: none;
}

.user-info {
    font-family: var(--fonts);
}


/* Form Redsign */

form input[type=text], form input[type=email], form input[type=password]  {

    font-size: .7rem;

    padding: .7rem 2rem;
    border: none;
    border-radius: 10px;

    transition: all 500ms ease-in-out;
    background: #e0e0e0;
box-shadow:  5px 5px 10px #b3b3b3,
             -5px -5px 10px #ffffff;

}

form input[type=text]::placeholder, form input[type=email]::placeholder, form input[type=password]::placeholder {
    font-size: .9rem;
}

form input[type=text]:focus , form input[type=email]:focus, form input[type=password]:focus {
    border: none;
    box-shadow: none;   
}

form input:focus {
    outline: none !important;
}

/* Btn */

.btn-gray {
    font-size: .7rem;
    padding: .5rem 2rem;

    border-radius: 24px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #b3b3b3,
    -5px -5px 10px #ffffff;   
}
.btn-gray:hover {
    box-shadow: none;
}


.side-img {
    width: 35%;
    height: auto;
}

/* Sign In Form */

.signin-form .btn-gray {
    padding: 1rem 4rem;
    font-size: .9rem;
    font-weight: bold;
}

.supporting-text {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'League Gothic', sans-serif;
}
.supporting-text h1 {
    font-size: 8rem;
}
.supporting-text p {
    font-size: 1.2rem;
}


/* List Redesign */



.list-group .list-group-item {
    border: 1px solid #aaa !important;

    margin: 5px 0 !important;

    border-radius: 24px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #b3b3b3,
    -5px -5px 10px #ffffff;  

    transition: all 300ms ease-in-out;

    font-size: 1.5rem;
    font-family: var(--fonts);
}

.list-group .list-group-item:hover {
    box-shadow: none;
}




/* Card Redesign */


.card {
    border: 1px solid #aaa !important;

    border-radius: 24px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #b3b3b3,
    -5px -5px 10px #ffffff; 

    transition: all 300ms ease-in-out;

    font-family: var(--fonts);
}

.card:hover {
    box-shadow: none;
}

.card img {
    max-height: 250px;
    border-radius: 24px 24px 0 0;
}

.card .card-title {
    font-size: 2rem;
}

.card .btn {
    font-size: 1.5rem !important;
}


/* Home CSS */

.cat-heading {
    font-family: var(--fonts);
}

